# links

# 42 links
https://www.notion.so/42sp-English-Club-Resources-a8f3202f31314091a76882768532f1c4

# vetor logos:
https://www.vectorlogo.zone/?q=

# stats
https://github.com/anuraghazra/github-readme-stats
